@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navbar{

  display: flex;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: rgba(31, 15, 255, 0.883);
}
.navLincContainer{
  display: flex;
  margin: 0 0 0 15%;
}
.navLinc{
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 15px;
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.863);
}
.activeNavLinc{
  text-decoration: underline rgb(241, 241, 241) 2px ;
}
 li{
   font-size: 20px;
   text-decoration: none;
 }

.wrapper {
  width: 100vw ;
  height: 93vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  height: 90%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(80, 80, 80, .1);
}

h1 {
  margin-bottom: 40px;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 2.5em;
}

.input, .output-pvm {
  display: flex;
  align-items: center;
}

.input {
  height: 50%;
  justify-content: flex-end;
}

form {
  width: 100%;
}

.form-group {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: monospace;
  font-size: 1.7em;
  margin-bottom: 10px;
}

input {
  width: 70%;
  height: 45px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
}

select {
  height: 45px;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 1.5em;
}

.output-pvm {
  height: 30%;
  margin: 25% 0;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

p {
  width: 50%;
  font-family: monospace;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
}

.output-div {
  width: 50%;
  font-family: monospace;
  font-size: 2em;
}

.output-div > span {
  background-color: #f4f4f4;
}



@media screen and (min-width: 768px){
  main {
      width: 70%;
      height: 80%;
      padding: 2em;
  }
  .input {
      height: 40%;
  }

  .output-pvm {
      height: 40%;
      margin: 0;
      padding: 5%;
  }
}